<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment</title>
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/landing-page.min.css" rel="stylesheet">

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">

</head>
<body>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" id="sidebar-title">KTeach: The Online Classroom</div>
        <div class="list-group list-group-flush">
            <a href="studenthome.html" class="list-group-item list-group-item-action bg-light">Assignments</a>

        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <h1 class="mt-4" id="name"></h1>
            <p id="description"></p>
        </div>

        <a id="download" role="button" download>
            <button class="btn btn-outline-primary" style="vertical-align: middle">Download Assignment</button>
        </a>
        <label for="upload" class="btn btn-outline-success" style="vertical-align: middle">
            Upload Solution
        </label>
        <div class="spinner-border text-primary" id="upload-spinner" role="status" style="opacity: 0">
            <span class="sr-only">Loading...</span>
        </div>
        <input type="file" id="upload" style="opacity: 0%;"/>
        <input type="hidden" id="testpath" value="">

        <br><br><br>
        <div id="results">
            <h2 id="score"></h2>
            <div id="autograder">
                <h3>Autograder Results:</h3>
            </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>

<div id ="content">

    </div>

    <script>
        let user_json = JSON.parse(localStorage.getItem('user'));
        document.getElementById("sidebar-title").innerText = "Classroom ".concat(user_json["classroom_id"]);
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }

        let assignment_id = getUrlVars()["id"];
        console.log(assignment_id);

        fetch('http://localhost:8080/api/firestore/Assignments/'+assignment_id)
            .then((res) => {
                return res.json()
            })
            .then((data) => {
                const {title, description, problem, test, id} = data;
                console.log(data);
                document.getElementById("name").innerText = title;
                document.getElementById("description").innerText = description;
                let button = document.getElementById("download");
                button.setAttribute('href', problem);
                let testpath = document.getElementById("testpath");
                testpath.setAttribute('value', test);
            })
    </script>

    <script>
        document.querySelector('#upload').addEventListener('change', event => {
            handleImageUpload(event);
        });

        const handleImageUpload = event => {
            let user_json = JSON.parse(localStorage.getItem('user'));
            let student_id = user_json["id"];
            let testpath = document.getElementById("testpath").getAttribute("value");
            // Clear output
            document.getElementById('score').innerText = "";
            document.getElementById('autograder').innerHTML = "";

            const files = event.target.files;
            const formData = new FormData();
            formData.append('file', files[0]);
            formData.append('test', testpath);
            console.log(student_id);
            console.log(formData.get('file'));

            // Start spinner
            document.getElementById('upload-spinner').style.opacity = "100%";

            fetch('http://localhost:8080/api/upload/' + student_id, {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('upload-spinner').style.opacity = "0%";
                    document.getElementById('score').innerText += 'Score: ' + data.grade[0] + ' / ' + data.grade[1];
                    data.cases.forEach((testcase) => {
                        let result =
                            '<h4>'+testcase+'</h4>';
                        document.getElementById('autograder').innerHTML += result;
                    });
                })
        }

    </script>

</div>

</body>
</html>