<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/simple-sidebar.css" rel="stylesheet">
    <style>
        .btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:visited {
            background-color: #ff6600 !important;
        }
    </style>
</head>
<body>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <h3 class="text-lg-left" id="teacher-title">KTeach Dashboard for </h3>
    <script>
        document.getElementById('teacher-title').innerText += " " + JSON.parse(localStorage.getItem('user'))["first_name"];
    </script>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="teacherhome.html">Dashboard</a>
            </li>
        </ul>
        <a class="btn btn-warning" id="menu-toggle" href="index.html" onclick="localStorage.removeItem('user')">Logout</a>
    </div>
</nav>
<div class="progress">
    <div class="progress-bar" id="progress-bar" role="progressbar" style="width: 0%" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">My Classes</div>
        <div class="list-group list-group-flush" id="classes-nav"></div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 class="mt-1 mx-2" id="banner-text">Welcome to KTeach, </h1>
            <hr class="mt-0">
            <div id="about-content">
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-0">
                            <h2>About KTeach</h2>
                            <p class="lead">KTeach is the Kotlin Classroom, dedicated to teaching others how to program with Kotlin. With KTeach, you can: </p>
                            <ul>
                                <li>Create multiple classrooms</li>
                                <li>Create custom assignments</li>
                                <li>Make use of our custom testing framework to grade students</li>
                                <li>Make Kotlin a joyful learning experience</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="services" class="bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-0">
                            <h2>Documentation</h2>
                            <p class="lead">API and Testing Framework documentation can be found <a href="">here.</a></p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-0">
                            <h2>Contact Me</h2>
                            <p class="lead">To contact me with any issues regarding the webpage, <a href="">click here.</a></p>
                            <p class="text-body">To view my other work, my github can be found here, and my personal website can be found here.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
            <div id="content" class="col-md-12"></div>
        </div>
        <div style="text-align: center; display: none" id="add-assignment-div">
            <a class="btn btn-success" type="button" href="" id="add-assignment" data-toggle="modal" data-target="#modalAssignmentForm">Add Assignment</a>
        </div>
    </div>

    <!-- /#page-content-wrapper -->

</div>

<form id="modal-form" action="" method="post">
<div class="modal fade" id="modalAssignmentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add/Edit Assignment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-4">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="text" id="defaultForm-title" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-title">Title</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="defaultForm-description" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-description">Description</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="defaultForm-problem" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-problem">Problem File</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="defaultForm-test" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-test">Test File</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="text" id="defaultForm-id" class="form-control validate" disabled>
                    <label data-error="wrong" data-success="right" for="defaultForm-id">Assignment ID</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center" id="modal-submit">
                <button type="submit" name="submit" class="btn btn-primary" style="color: white">Submit</button>
            </div>
        </div>
    </div>
</div>
</form>

<form id="confirmation-form" action="" method="post">
    <div class="modal fade" id="modalConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-4">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="text" id="confirmForm-title" class="form-control validate" disabled>
                        <label data-error="wrong" data-success="right" for="defaultForm-title">Assignment Title</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="text" id="confirmForm-assignment" class="form-control validate" disabled>
                        <label data-error="wrong" data-success="right" for="defaultForm-title">Assignment ID</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center" id="modal-delete-assignment">
                    <button type="submit" name="submit" class="btn btn-danger" style="color: white">Delete Assignment</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->
<script src="../js/teacherhome.js"></script>
<script src="../js/modal.js"></script>

</body>

</body>
</html>